body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    fill: royalblue;
}

h1 {
    padding-left: 15px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#remove-button {
    display: none;
    background-color: red;
    color: white;
    margin: 30px auto 30px auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    box-sizing: border-box;
    background-color: white;
    font-weight: bold;
    margin: 5px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px royalblue;
    cursor: pointer;
}

li.completed {
    background-color: rgb(1, 182, 1);
    border: solid 2px rgb(1, 182, 1);
    color: white;
}